<div class="container">
    <h3 class="text-center text-info text-decoration-underline fst-italic">Add Property Details</h3>
    <form [formGroup]="propertyForm" (ngSubmit)="addProperty()">
        <div class="AddProduct">
            <div class="form-group">
                <label for="name">Property Name</label>
                <div>
                    <input type="text" name="" id="name" class="form-control" formControlName="name">
                    <div [hidden]="!name.touched || !name.hasError('required')" >
                        <span class="text-danger">Property name is required.</span>
                    </div>  
                </div>
                <label for="name">Property Description</label>
                <div>
                    <input type="text" name="" id="description" class="form-control" formControlName="description">
                    <div [hidden]="!description.touched || !description.hasError('required')" >
                        <span class="text-danger">Description is required.</span>
                    </div>
                </div>
                <label for="name">Property Size</label>
                <div>
                    <input type="number" name="" id="" class="form-control" formControlName="size">
                    <div [hidden]="!size.touched || !size.hasError('required')" >
                        <span class="text-danger">Size is required.</span>
                    </div>
                </div>
                <br>
                <div>
                    <!-- <button class="btn btn-success" (click)="addProduct()">Add Product</button> -->
                    <button type="submit" class="btn btn-success" [disabled]="!propertyForm.valid">Add Property</button>
                </div>
            </div>
        </div>
    </form>
    <br><br>
    
    <h1 class="text-center text-info bg-primary">List Of All Properties</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Serial No.</th>
                <th>Property Name</th>
                <th>Property Description</th>
                <th>Property Size</th>
                <th>Operation</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let property of allProterties;let i = index">
                <tr>
                    <td>{{i+1}}</td>
                    <td>{{property.name}}</td>
                    <td>{{property.description}}</td>
                    <td>{{property.size}}</td>
                    <td><button class="btn btn-info" (click)="deleteProperty(property)">Delete</button></td>
                </tr>
                
            </ng-container>
           
        </tbody>
    </table>
    <ng-container *ngIf="allProterties.length==0">
        <h4 class="text-danger text-center">{{msg}}</h4>
    </ng-container>
</div>